config APP_TEST_RUNNER
    bool "Test runner"
    depends on LIB_SEL4 && LIB_SEL4_C && LIB_SOS && LIB_PAWPAW
    default n
    select HAVE_SEL4_APPS
    help
        Test runner. Runs all the other test applications.
