config SEL4_APPS_PATH
    string
    option env="SEL4_APPS_PATH"

menu "seL4 Applications"

source "$SEL4_APPS_PATH/sos/Kconfig"
source "$SEL4_APPS_PATH/sos_test/Kconfig"
source "$SEL4_APPS_PATH/sosh/Kconfig"
source "$SEL4_APPS_PATH/tty_test/Kconfig"

menu "Devices"
source "$SEL4_APPS_PATH/dev_console/Kconfig"
source "$SEL4_APPS_PATH/dev_timer/Kconfig"
endmenu


menu "Services"
source "$SEL4_APPS_PATH/svc_network/Kconfig"
source "$SEL4_APPS_PATH/svc_vfs/Kconfig"
source "$SEL4_APPS_PATH/svc_dev/Kconfig"

menu "Filesystems"
source "$SEL4_APPS_PATH/fs_dev/Kconfig"
source "$SEL4_APPS_PATH/fs_cpio/Kconfig"
endmenu
endmenu

endmenu
