config APP_THRASH
    bool "Page thrasher"
    depends on LIB_SEL4 && LIB_SEL4_C && LIB_SOS && LIB_PAWPAW
    default n
    select HAVE_SEL4_APPS
    help
        Surely you could just download more RAM?
