config APP_SOS
    bool "Papaya"
    select LIB_SEL4 
    select LIB_SEL4_C
    select LIB_SEL4_ELF
    select LIB_CPIO
    select LIB_SEL4_CSPACE 
    select LIB_IXP400_XSCALE_SW if IXP400
    select LIB_IXP_OSAL if IXP400
    select LIB_SOS
    select LIB_PAWPAW
    default y
    help
        Simple Operating System (aka AOS implementation)